{% extends "layouts/master.twig" %}
{% block content %}
<section class="najd-account"><div class="najd-container">
  <h1>{{ trans('common.my_account') }}</h1>
  <salla-customer-profile></salla-customer-profile>
</div></section>
{% endblock %}
