{% extends "layouts/master.twig" %}
{% block content %}
<section class="najd-wishlist"><div class="najd-container">
  <h1>{{ trans('common.wishlist') }}</h1>
  <salla-wishlist></salla-wishlist>
</div></section>
{% endblock %}
