<section class="najd-newsletter">
  <div class="najd-container najd-newsletter__inner">
    <h2>{{ component.settings.title }}</h2>
    <p>كن أول من يعرف عن العروض والمنتجات الجديدة</p>
    <salla-offer-subscribe inline></salla-offer-subscribe>
  </div>
</section>
