{% extends "layouts/master.twig" %}
{% block content %}
<section class="najd-orders"><div class="najd-container">
  <h1>{{ trans('common.orders') }}</h1>
  <salla-orders></salla-orders>
</div></section>
{% endblock %}
