{% extends "layouts/master.twig" %}
{% block content %}
<section class="najd-order-detail"><div class="najd-container">
  <salla-order-details order-id="{{ order.id }}"></salla-order-details>
</div></section>
{% endblock %}
